# This file is used to ignore files and directories in a Node.js project
# Created on 2024-06-15

# Ignore node modules
node_modules

#Environment variables
.env

# Authentication configuration variables
config/ 

# Database files
*.db