# This file is used to ignore files and directories in a Node.js project

# Ignore node modules
node_modules

#Environment variables
.env

# Authentication configuration variables
config/ 

# Database files
*.db

# Cache files
cache/